{% extends "tease.twig" %}

{% block content %}
    <article class="post">
        <header class="post-header">
            <h3 class="post-box-title"><a href="{{post.link}}">{{post.title}}</a></h3>
            <ul class="post-box-meta elr-inline-list">
                <li>
                    <p><i class="fa fa-user"></i> <a href="{{post.author.link}}">{{post.author}}</a></p>
                </li>
                <li>
                    <p><i class="fa fa-calendar"></i> {{post.date}}</p>
                </li>
                <li>
                    <p><i class="fa fa-folder"></i> <a href="{{post.category.link}}">{{post.category}}</a></p>
                </li>
            </ul>
        </header>
        {% if post.thumbnail.src %}
        <figure class="post-image-holder">
            <a href="{{post.link}}">
                <img src="{{post.thumbnail.src}}" />
            </a>
        </figure>
        {% endif %}
        <div class="post-content">
            <p class="post-excerpt">{{post.get_preview(50)}}</p>
        </div>
    </article>
{% endblock %}